@charset "UTF-8";

:root {
    --cor1: #038C4C;
    --cor2: #22F291;
    --cor3: #066204;
    --cor4: #ffffff;
    --cor5: #0D0D0D;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

html, body {
    color: white;
    background-color: gray;
}

header {
    padding: 20px;
    margin: auto;
    background-color: var(--cor5);
    text-align: center;
}

header > h1 {
    font-size: 2em;
    color: var(--cor2);
}

nav {
    text-align: center;
    margin: 10px;
}

nav > a {
    padding: 5px;
    margin: 10px;
    color: var(--cor2);
    font-size: 1em;
    letter-spacing: 2px;
    text-decoration: none;
}

nav > a:hover {
    margin: auto;
    background-color: var(--cor2);
    color: var(--cor3);
    border-radius: 10px 0px;
}

main {
    background-color: var(--cor1);
    max-width: 1000px;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    text-align: justify;
}

footer {
    background-color: var(--cor5);
    padding: 10px;
    text-align: center;
}