@charset "UTF-8";

:root {
    --cor1: #1786F9;
    --cor2: #129AF7;
    --cor3: #00FEFB;
    --cor4: #ffffff;
    --cor5: #000000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
    width: 100vw;
    height: 100vh;
    background-color: var(--cor5);
}

a, span {
    color: var(--cor1);
    text-decoration: none;
    font-weight: bolder;
}

/* CABEÇALHO */
header {
    width: 100vw;
    height: 100px;
    background-color: var(--cor5);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header > a {
    font-size: 1.3em;
    padding: 10px;
    border: 1px solid var(--cor1);
    border-radius: 30px;
    box-shadow: 0px 0px 3px var(--cor4);
    transition: 0.35s;
}

header > a:hover {
    border: 1px solid var(--cor1);
    transform: scale(1.1);
    border-radius: 30px;
    background-color: var(--cor1);
    color: var(--cor4);
    box-shadow: 0px 0px 20px var(--cor1);
}

/* CONTEÚDO */
main {
    display: flex;
    background-image: url(../imagens/fundo1.svg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 594px;
}

div.topo-site {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 20px;
    background-color: var(--cor5);
    color: var(--cor4);
    opacity: 0.8;
    width: 400px;
    height: 370px;
    border-radius: 30px;
}

div.topo-site > h1 {
    margin-bottom: 30px;
    font-size: 2em;
}

div.topo-site > p {
    text-align: left;
    margin-bottom: 10px;
}

/* RODAPÉ */
footer {

}