@charset "UTF-8";

:root {

    --montserrat: "Montserrat", sans-serif;
    --anta: "Anta", sans-serif;

    --cor1: #022859;
    --cor2: #2291F2;
    --cor3: #368DD9;

}
/* ESTILOS GERAIS */
* {
    padding: 0;
    margin: 0 auto;
    font-family: var(--montserrat);
}

body {
    max-width: 100vw;
    height: 100vh;
    background-color: var(--cor1);
    color: white;
}

.btn {
    text-decoration: none;
    color: var(--cor2);
    font-weight: bold;
    border: 1px solid var(--cor2);
    padding: 10px;
    border-radius: 20px;
    transition: .4s;
}

.btn:hover {
    background-color: var(--cor2);
    color: white;
    box-shadow: 1px 1px 15px var(--cor2);
    transform: scale(1.2);
}
/* FIM ESTILOS GERAIS */

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* FIM HEADER */